@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the sidebar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
